.overviewCard {
  width: 80px;
  height: 80px;
  background-color: #ece6f7;
  border-radius: 50%;
  position: relative;
}

.number_text_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  font-size: 24px;
  font-weight: 600;
  color: #333333;
}

.overview_text {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 600;
  color: #333333;
}
