.allSubject_page {
  padding-top: 80px;
  padding-left: 118.38px;
  padding-right: 118px;
}

.logo_button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 140px;
  height: 40px;
}

.content {
  margin-top: 250.5px;
}

.allSubjects {
  font-size: 40px;
  font-weight: 700;
  color: #333333;
  text-align: center;
}

.sub_text {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-top: 8px;
}

.buttons_container {
  margin-top: 40px;
}

.grades_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 16px;
}

.sections_container {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 16px;
}
